spring:
  application:
    name: api

  datasource:
    url: jdbc:postgresql://localhost:5432/gs
    username: root
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  docker:
    compose:
      enabled: true

sensor:
  api-key: ${SENSOR_API_KEY:dev-sensor-key}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /docs
    enabled: true
