name: Deploy to Oracle VM

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USERNAME }}
          key: ${{ secrets.VM_SSH_KEY }}
          port: 22
          script: |
            cd ~/gs-api
            
            git pull origin main
            
            chmod +x mvnw
            
            docker compose -f docker-compose.prod.yml up --build -d
            
            docker image prune -f
